h1,h2{
   text-align: center;
   margin-top: 2.3cm;
}
ul,li{margin-left: 2.3cm;
margin-right: 2.3cm;}

.contenedor{display: flex;
    align-items: center;
}
img{border-radius: 0.4rem;
margin-bottom: 30px;
margin-left: 4.6cm;
margin-right: 2.3cm;}
a{margin-left: 15%;
}
header{ margin-bottom: 120px;}
article{display: flex;
flex-direction: column;
justify-content: space-between;
}

